@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}

@keyframes change {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
        background: darkorange;
    }
    to {
        transform: scale(1);
    }
}