.breadcrumbs {
    ul {
        margin-left: -40px;
    }
    li {
        float: left;
        list-style-type: none;
        padding-top: 20px;
        margin-right: 20px
    }
    a {
        color: #E04006;
    }
}