.calculating {
	padding: 50px 0;
	background: url("../img/feedback.png") no-repeat 50%/cover;
}
.calculating-field {
	width: 750px;
	height: 100%;
	margin: 0 auto;
	padding: 10px 0;
	background: rgba(68, 16, 165, 0.15);
	box-shadow: 10px 5px 5px $main-color;
}

.calculating-choose {
	margin: 30px 60px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
	input:focus {
		outline-color: $main-color;	  
	}
}

.calculating-result {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    align-self: end;
	justify-items: center;
	gap: 10px;
	button:focus {
		outline: none;
	  }
	&__output {
		font-weight: bold;
	}
}
