@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;    
    }
    .hamburger {
        position: fixed;
    }
    .header-main {
        &__official {
            span {
                font-size: 16px;
            }
        }            
    }
    .promo {
        &__wrapper {
            top: 210px;
        }
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 24px;
        }
    }
    .button {
        &:hover {
            background-color: $main-color;
        }
        &_submit {
            background-color: $main-color;
        }   
    }
    .advantages {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            margin: 0 10px 20px 10px;
            font-size: 14px;
        }
    }  
    .title {  
        &_left {
            font-size: 30px;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
        }
    }
    .catalog {
        &__tab {
            font-size: 12px;
        }
    }

    .calculating-field {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;   
    }
    .hamburger {
        position: fixed;
    }
    .header-main {
        align-items: center;
        &__official {
            a {
                font-size: 15px;
            }
            span {
                font-size: 14px;
                line-height: inherit;
            }
        }
        &__contacts {
            a {
                font-size: 16px;
            }
        }       
    }
    .promo {
        &__wrapper {
            margin-top: -40px;
        }
        &__header {
            font-size: 24px;
            line-height: revert;
        }
        &__subheader {
            font-size: 18px;
        }
        span {
            font-size: 14px;
        }
    }  
    .button {
        &:hover {
            background-color: $main-color;
        }
        &_submit {
            background-color: $main-color;
        }   
    }
    .modal {
        left: 40%;
    }
    .title {  
        &_left {
            font-size: 25px;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
        }
    }
    .catalog {
        &__tabs {
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__tab {
            margin-top: 20px;
            font-size: 14px;
        }
    }
    .calculating-field {
        width: 100%;
    }
    .calculating-choose {
        align-items: end;
    }
    .asphalting-main {
        h2 {
            font-size: 23px;
        }
        h3 {
            font-size: 18px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .hamburger {
        position: fixed;
    }
    .header {
        top: 18px;
    }
    .header-main {
        flex-direction: column;
        &__official {
            a {
                font-size: 10px;
            }
            span {
                font-size: 11px;
                line-height: inherit;
            }
        }
        &__contacts {
            margin-top: 7px;
            a {
                font-size: 14px;
                color: darkorange;
                &:hover {
                    color: darkorange;
                }
            }
        }       
    }
    .promo {
        &__wrapper {
            margin-top: -110px;
        }
        &__header {
            font-size: 14px;
            line-height: revert;
        }
        span {
            font-size: 9px;
        }
        &__subheader {
            margin: 0 auto;
            font-size: 12px;
            text-align: center;
        }
        &__link {
            display: none;
        }
        &__icons {
            margin-top: 0;
            width: 100%;
            justify-content: space-evenly;
        }
        &__icon {
            width: 20px;
            height: 20px;
            font-size: 10px;
            img {
                margin-bottom: 0;
            }
        }
    }
    .button {
        display: none;
        &_submit {
            display: block;
            margin: 0 auto;
            width: 100%;
            background-color: $main-color;
            font-size: 14px;
        }
        &_calc {
            display: block;
        }
    }
    .menu {
        &__block {
            width: 205px;
        }
        &__list {
            padding-left: 15px;
        }  
        &__link {
            font-size: 16px;
        }  
        &__social {
            top: 93%;
        }
    }
    .menu-second, .menu-price {
        &__block {
            width: 205px;
        }
        &__list {
            padding-left: 5px;
        }  
        &__link {
            font-size: 14px;
            line-height: inherit;
            &:before {
                top: 4px;
            }
        }  
        &__sublist {
            padding-top: 10px;
        }
        &__sublink {
            left: -20px;
            font-size: 12px;
            line-height: inherit;
            &:before {
                top: 2px;
            }
        }  
        &__social {
            top: 93%;
        }
        &__pointer {
            top: 1px;
        }
    }
    .modal {
        width: 220px;
        &__subtitle {
            font-size: 12px;
        }
        &__descr {
            font-size: 12px;
            margin-bottom: -20px;
        }
        &__close {
            top: 0;
            right: 0;
        }
        .feed-form {
            width: 100%;
            #name-error.error, #phone-error, #email-error, #check-error {
                font-size: 0px;
            }
            &__policy {
                font-size: 10px;
            }
        }
    } 
    .title {
        font-size: 18px;
    } 
    .asphalting-main {
        p {
            font-size: 14px;
        }
        &__table {
            table {
                thead th {
                    font-size: 12px;
                    padding: 0;
                }
                tbody td {
                    padding: 0;
                    font-size: 12px;
                }
            }
        }
        &__steps {
            flex-direction: column;
            align-items: center;
        }
        &__photo {
            img {
                height: 170px;
            }
        }
    }
    .advantages {
        &__wrapper {
            width: 100%;
            margin: 20px 0 -50px 0;
            flex-direction: column;
            align-items: center
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            margin: 0 10px 20px 10px;
            font-size: 12px;
        }
    } 
    .feed-form {
        width: 100%;
    } 
    .title {  
        &_left {
            font-size: 13px;
        }
    }
    .consultation {
        &__descr {
            font-size: 14px;
        }
    }
    .carousel {
        display: none;
    }
    .catalog {
        &__tabs {
            flex-direction: column;
        }
        &-item {
            hr {
                margin: revert;
            }
        }
    }
    .calculating-choose {
        grid-template-columns: repeat(1, 1fr);
    }
    .questions {
        padding-bottom: 25px;
        &__item {
            flex-direction: column;
            align-items: center;
            &:nth-child(2){
                margin-top: 25px;
            }
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .feed {
        padding-bottom: 25px;
        &__item {
            flex-direction: column;
            align-items: center;
            &:nth-child(2){
                margin-top: 25px;
            }
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .footer {
        height: 100%;
        &__info {
            width: 100%;
            min-height: 300px;
        }
        &__addr {
            font-size: 16px;
            line-height: 20px;
        }
        &__phone {
            font-size: 14px;
            line-height: 14px;
        }
        iframe {
            display: none;
        }
        &__nav {
            position: absolute;
            top: 260px; 
            nav {
                flex-direction: column;
            } 
        }
        &__warning {      
            font-size: 9px;
        }
    }
} 